/* Global Styles */
@font-face {
  font-family: 'Basis';
  src: url('../fonts/basis-grotesque-regular.eot');
  src: url('../fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/basis-grotesque-regular.woff2') format('woff2'),
       url('../fonts/basis-grotesque-regular.woff') format('woff'),
       url('../fonts/basis-grotesque-regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'WorchesterEF-Regular';
    src: url('../fonts/39E324_0_0.eot');
    src: url('../fonts/39E324_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/39E324_0_0.woff2') format('woff2'),
         url('../fonts/39E324_0_0.woff') format('woff'),
         url('../fonts/39E324_0_0.ttf') format('truetype');
  }



*, *::before, *::after {
  box-sizing: inherit;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

html {
  box-sizing: border-box;
  -webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);

}

body {
  font-size: 12px;
  font-family: 'Basis';
  font-weight: normal;
  font-style: normal;
  background: #C8C5BE;
}

p {
  font-family: 'WorchesterEF-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 27px;
  margin-bottom: 45px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'WorchesterEF-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'WorchesterEF-Regular';
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 27px;
  margin-bottom: 64px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 4em;
  line-height: 40px;
  margin-top: -67px;
  font-weight: 100;
}

h4 {
  font-size: 1em;
  line-height: 10px;
  margin-bottom: 34px;
  font-weight: 400;
}



a {
  color: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

header {
  position: fixed;
  z-index: 99;
  left: 50px;
  top: 17px;
}

/*.ross {
  position: fixed;
  z-index: 99;
  left: 4px;
  top: calc(50vh - 30px);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100px;
  text-align: center;
}

.burwell {
  position: fixed;
  z-index: 99;
  right: 4px;
  top: calc(50vh - 30px);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width:100px;
  text-align:center;
}*/

.menuoverlay h1, h2, h3, p, a {
  color:#fff;
} 

.menu{
  position:fixed;
  z-index:9999;
  right:36px;
  top:30px;
  width:40px;
  height:40px;
  font-size:2em;
  text-decoration:none;
  transition: right 0.2s ease-in-out;
  color:#000;
}



.menu.nav-hide {
  right: -40px;
}

.menu.open{
  right: 36px;
}

.menu:before{
  content: "—";
  position: absolute;
  top: -2px;
  left: 13px;
  font-size: 23px;
  transition: 0.25s;
}

.menu:hover:before{
  top: -4px;
}

.menu.open:before{
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 15px;
}

.menu:after{
  content: "—";
  position: absolute;
  top: 3px;
  left: 13px;
  font-size: 23px;
  transition: 0.25s;
}

.menu:hover:after{
  top: 5px;
}

.menu.open:after{
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0px;
  left: 13px;
}

.menuoverlay{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0s 0.2s;
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  background:#C8C5BE;
  z-index: 99;
  overflow:scroll;
}

.menuoverlay.open{
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

.project{
  overflow: hidden;
  background: #fff;
}


.column1 {
  float: left;
  padding: 50px 50px 10px 50px;
  margin: 0;
  width: 50%;
}

.column2 {
  float: left;
  padding: 70px 50px 30px 50px;
  margin: 0;
  width: 25%;
}

.column3 {
  float: left;
  padding: 70px 50px 30px 50px;
  margin: 0;
  width: 25%;
}

.menuoverlay .column1{
  padding-top: 17px;
}

.menuoverlay .column1 h1{
  line-height: 27px;
  max-width: 200px;
}

.menuoverlay .column2, .menuoverlay .column3{
  padding-top: 43px;
}

.menuoverlay a {
  color:#fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border-bottom .2s ease-out;
}


.menuoverlay a:hover{
  border-bottom: 1px solid #000;
}


.grain {
  position: fixed;
  pointer-events: none;
  width:100vw;
  height:100vh;
  z-index: 99999;
  background-image: url("../images/grain.gif");
  background-repeat: repeat;
  background-size: 400px;
  mix-blend-mode: soft-light;

}







/* END Global Styles */



/* Utility Classes */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
  display: none !important;
}
/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}

/* END Utility Classes */



















* {
  box-sizing: border-box;
}

#wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:#C8C5BE;

}


.element {
  font-family: 'WorchesterEF-Regular';
  font-weight: normal;
  font-style: normal;
  position: absolute;
  white-space: nowrap;
  font-size:6em;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  display: table;
  /* border: 4px solid white; */
  cursor: move;
  z-index:99;
  text-align:center;
}

.element:hover {
  color:#fff;
}

.element.elementoverlay {
  mix-blend-mode: normal;
}

.element a{
  text-decoration: none;
  font-family: 'WorchesterEF-Regular';
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
  /* border: 4px solid white; */
  cursor: move;
  z-index:99;
}


@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .element, .element a {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        text-shadow: none;
        /*transition: color .2s ease-out;*/
    }
    .element:hover, .element a:hover {
        color: #fff;
        -webkit-text-stroke: 0px black;
        text-stroke: 0px #fff;
    }
    .element.elementoverlay, .element.elementoverlay a {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        text-shadow: none;
        /*transition: color .2s ease-out;*/
    }
    .element.elementoverlay:hover, .element.elementoverlay a:hover {
        color: #fff;
        -webkit-text-stroke: 0px black;
        text-stroke: 0px #fff;
    }

}





.element:active {

}




.image-container {
  position:absolute;
  width: 70vw;
  height: calc(100vh - 20vw);
  left:15vw;
  top:10vw;
  padding:100px;
  transition: .1s cubic-bezier(.47,-0.44,1,-0.23);
  transition-delay: 0s;
}

.image-container.grow {
  width: 96vw;
  height: calc(100vh - 4vw);
  left:2vw;
  top:2vw;
  transition: 1s cubic-bezier(.47,-0.44,1,-0.23);
  transition-delay: .5s;
}

.image-container .image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .1s ease-out;
  transition-delay: .25s;
  pointer-events: none;
}


.hoverimage {
  max-width: 100%;
  max-height: 100%;
  outline: 10vw solid #C8C5BE;
  outline-offset: -10vw;
  transition: outline-offset .3s ease-out;
  transition-delay: .25s;
  display: block;
}

.image.show {
  opacity: 1; 
}

.hoverimage.show{
  outline-offset: 0;

}

.hold {
  opacity: 0; 
  position:fixed;
  bottom:-20px;
  width:100vw;
  text-align: center;
  transition: .2s ease-out;
  transition-delay: .25s;
  z-index: 999;
  pointer-events: none;
}

.hold.show{
  opacity: 1; 
  bottom:45px;
}

.hold.open{
  display: none;
}






























/* Responsive Styles */

@media only screen and (max-width: 1023px) {

  .column1, .column2, .column3 {
    width: 33%;
  }

  .element {
    font-size: 5em;
  }

}

@media only screen and (max-width: 767px) {

  .column1, .column2, .column3 {
    width: 100%;
  }
  .column1 {
    text-align: right;
    padding-right: 43px;
  }
  .column2 {
    margin-top: -59px;
    padding-bottom:0;
  }
  .column3 {
    padding-top:0;
  }

  .menuoverlay .column1 {
    text-align: left;
  }

  .menuoverlay .column2 {
    margin-top:0;
  }

  .menuoverlay .column3 {
    padding-top: 0;
  }

  .element {
    font-size: 4em;
  }

}

@media only screen and (max-width: 400px) {

  .column1, .column2, .column3 {
    padding: 50px 25px 10px 25px;
  }
  .column1 {
    padding-right: 18px;
  }
  .column2 {
    padding-bottom:0;
    margin-top: -64px;
  }
  .column3 {
    padding-top:0;
  }
  .data-prev {
    left: 11px;
  }
  .data-next {
    right: 11px;
  }
  header{
    left:25px;
  }
  .menu{
    right:11px;
  }
  .menu.open{
    right:11px;
  }

    .element {
    font-size: 3em;
  }


}

/* End Responsive Styles */
